## Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is defined as a storage place where all the related datas are stored for a particular application in an organized structured or unstructured way. The database is a persistent memory where all the data can be stored unless deleted intentionally. 

SQL databse is a structured database where each and every table has a particular structure with a specific number of columns at any point of time. Eg: MySQL, DB2, Oracle Database

NoSQL databases are unstructured databases where datas are stored in key-value formats mostly in JSON. In case of NoSQL databases, the datas stored for a particular document can have different number of keys(columns in SQL database). Eg: MongoDB, Cassandra, Neo4j.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

The full form of DDL is Data Definition Language. It is a syntax for creating and modifying database objects such as tables, indices, and users. DDL statements are similar to a computer programming language for defining data structures, especially database schemas.

In [5]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp39-cp39-win_amd64.whl (9.6 MB)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector as connector

In [27]:
db = connector.connect(
    host="localhost",
    port = 3306,
    user="abc",
    password="password")

print(db)
cursor = db.cursor()
cursor.execute("SHOW DATABASES;")
for x in cursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C3392C56D0>
('information_schema',)
('mysql',)
('performance_schema',)
('pw_skills_db',)
('sakila',)
('sys',)
('world',)

In [28]:
# Creating a table
# Creating a table is used to create a structured way to store the data.
cursor.execute("CREATE DATABASE if not exists pw_skills_db")
cursor.execute("CREATE TABLE if not exists pw_skills_db.test_table(c1 INT, c2 VARCHAR(50), c3 INT, c4 FLOAT, c5 VARCHAR(40))")

In [29]:
# Drop a table column
# Drop is used to either drop a column or a table from the database as and when required.
cursor.execute("ALTER TABLE pw_skills_db.test_table DROP c5")

In [30]:
# Altering a table
# Altering a table is used hen we need to modify the type of a column in a table as and when required.
cursor.execute("ALTER TABLE pw_skills_db.test_table ADD c5 VARCHAR(40)")

In [36]:
# Truncate a column in table
# The TRUNCATE statement in MySQL removes the complete data without removing its structure. It is a part of DDL or data definition language command. Generally, we use this command when we want to delete an entire data from a table without removing the table structure.
cursor.execute("INSERT into pw_skills_db.test_table values(1,'pratap',10,92.23,'Good')")
db.commit()
cursor.execute("TRUNCATE TABLE pw_skills_db.test_table")
db.commit()

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The full form of DML is Data Manipulation Language. It is sed for adding, deleting, and modifying data in a database. A DML is often a sublanguage of a broader database language such as SQL, with the DML comprising some of the operators in the language.

In [37]:
# Insert
# Insert is used for inserting data into the table created inside a database. Insert happens according to the schema of the table.
cursor.execute("INSERT into pw_skills_db.test_table values(1,'pratap',10,92.23,'Good')")
cursor.execute("INSERT into pw_skills_db.test_table values(2,'ranjan',12,80.10,'Worst')")
db.commit()

In [39]:
# Update
# The UPDATE statement is used to modify the existing records in a table.
cursor.execute("UPDATE pw_skills_db.test_table SET c2 = 'pratap_chandra', c3 = 100 WHERE c1 = 1")
db.commit()

In [42]:
# Delete
# The DELETE statement is used to delete existing records in a table.
cursor.execute("DELETE FROM pw_skills_db.test_table WHERE c1 = 2")
db.commit()

## Q4. What is DQL? Explain SELECT with an example.

The full form of DQL is Data Query Language. DQL is part of the base grouping of SQL sub-languages. These sub-languages are mainly categorized into four categories: a data query language, a data definition language, a data control language, and a data manipulation language.

The SELECT statement is used to select data from a database.The data returned is stored in a result table, called the result-set.Either we can select all, multiple or any single columns using SELECT statement as per the requirement.

In [52]:
cursor.execute("SELECT * from pw_skills_db.test_table")
for row in cursor.fetchall():
    print(row)

(1, 'pratap_chandra', 100, 92.23, 'Good')

## Q5. Explain Primary Key and Foreign Key.

In SQL databases, in every table there is a column called Primary Key which is used to uniquely identify each and every row of the table. The Primary Key remains always unique and it cannot be overwritten.

Foreign key is the key which refers to the Primary Key of another table. For eg: There is a student and course tables in the database with unique Primary Keys as StudentID and CourseID respectively and each student takes only once course. Then in the student table, the course column can refer to the CourseID Primary Key of Course table.

In [56]:
cursor.execute("CREATE TABLE if not exists pw_skills_db.course(CourseID INT NOT NULL PRIMARY KEY, CourseName VARCHAR(100))")
cursor.execute("CREATE TABLE if not exists pw_skills_db.student(StudentID INT, StudentName VARCHAR(100), Course INT, FOREIGN KEY(Course) REFERENCES COURSE(CourseID))")

In [57]:
cursor.execute("INSERT INTO pw_skills_db.course values(1, 'DS')")
cursor.execute("INSERT INTO pw_skills_db.course values(2, 'ML')")
db.commit()
cursor.execute("INSERT INTO pw_skills_db.student values(1,'Pratap',2)")
db.commit()

In [59]:
cursor.execute("INSERT INTO pw_skills_db.student values(1,'Pratap',3)")
db.commit()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`pw_skills_db`.`student`, CONSTRAINT `student_ibfk_1` FOREIGN KEY (`Course`) REFERENCES `course` (`CourseID`))

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [61]:
db1 = connector.connect(
    host="localhost",
    port = 3306,
    user="abc",
    password="password")

print(db1)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C3396FDD00>

The cursor method is just like a cursor towards the SQL database. Whatever queries we are going to execute should be done using a cursor. Even for a SELECT statement cursor points to the first row in the result-set object returned by it and we can iterate using that cursor.

Execute method is used to execute a particular query in the selected database. In case of insert or delete statements, we also need to commit along with the execute method. various examples are shown above.

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the SQL clauses in queries are executed is as follows:


**1. SELECT:** The SELECT clause is executed to derive all desired columns and expressions.

**2. FROM/JOIN:** The FROM and/or JOIN clauses are executed first to determine the data of interest.

**3. WHERE:** The WHERE clause is executed to filter out records that do not meet the constraints.

**4. GROUP BY:** The GROUP BY clause is executed to group the data based on the values in one or more columns.

**5. HAVING:** The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

**6. ORDER BY:** The ORDER BY clause is executed to sort the derived values in ascending or descending order.

**7. LIMIT/OFFSET:** Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.