In [1]:
import pandas as pd

**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [14]:
list1 = [4, 8, 15, 16, 23, 42]
df = pd.DataFrame(list1)
df

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [6]:
type(df[0])

pandas.core.series.Series

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [12]:
l2 = [i for i in range(1, 11)]
pd.Series(l2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.**

In [16]:
dict1 = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"],
}
df2 = pd.DataFrame(dict1)
df2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

Pandas Dataframe - A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns. it also has an in-built index with it.

Pandas Series - A Pandas Series is like a column in a table.It is a one-dimensional array holding data of any type.

In [24]:
print(type(df))
print(type(df2.Name))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

In [26]:
# Check the types of all the columns in dataframe
df2.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [32]:
# Finding the average of any numerical column
df2['Age'].mean()

27.333333333333332

In [36]:
# Finding unique categories
df2['Gender'].unique

<bound method Series.unique of 0    Female
1      Male
2    Female
Name: Gender, dtype: object>

In [37]:
# Value Counts in Pandas
df2['Gender'].value_counts

<bound method IndexOpsMixin.value_counts of 0    Female
1      Male
2    Female
Name: Gender, dtype: object>

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

Dataframe and Panel are mutable but Series is size immutable.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [49]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series(['a', 'b', 'c', 'd', 'e'])
s3 = pd.Series([100,90,80,70,60])
pd.concat([s1, s2, s3], axis = 1)

   0  1    2
0  1  a  100
1  2  b   90
2  3  c   80
3  4  d   70
4  5  e   60